In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import MinMaxScaler

In [2]:
df = pd.read_csv('./Divar_filled.csv')

C:\Users\Asus\AppData\Local\Temp\ipykernel_30868\3949448737.py:1: DtypeWarning: Columns (11,27,29,53) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./Divar_filled.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 62 columns):
 #   Column                      Non-Null Count    Dtype
---  ------                      --------------    -----
 0   Unnamed: 0                  1000000 non-null  int64
 1   cat2_slug                   1000000 non-null  object
 2   cat3_slug                   999999 non-null   object
 3   city_slug                   999998 non-null   object
 4   neighborhood_slug           437139 non-null   object
 5   created_at_month            1000000 non-null  object
 6   user_type                   1000000 non-null  object
 7   description                 1000000 non-null  object
 8   title                       999946 non-null   object
 9   rent_mode                   1000000 non-null  object
 10  rent_value                  351322 non-null   float64
 11  rent_to_single              19 non-null       object
 12  rent_type                   1000000 non-null  object
 13  price_mode                  1000000 non-null  object
 14  price_value                 568346 non-null   float64
 15  credit_mode                 1000000 non-null  object
 16  credit_value                352095 non-null   float64
 17  rent_credit_transform       352985 non-null   object
 18  transformable_price         352894 non-null   object
 19  transformable_credit        352085 non-null   float64
 20  transformed_credit          72409 non-null    float64
 21  transformable_rent          351248 non-null   float64
 22  transformed_rent            72409 non-null    float64
 23  land_size                   186396 non-null   float64
 24  building_size               980394 non-null   float64
 25  deed_type                   253458 non-null   object
 26  has_business_deed           34679 non-null    object
 27  floor                       541748 non-null   object
 28  rooms_count                 1000000 non-null  object
 29  total_floors_count          304352 non-null   object
 30  unit_per_floor              302283 non-null   object
 31  has_balcony                 506411 non-null   object
 32  has_elevator                1000000 non-null  bool
 33  has_warehouse               1000000 non-null  bool
 34  has_parking                 1000000 non-null  bool
 35  construction_year           815828 non-null   object
 36  is_rebuilt                  529470 non-null   object
 37  has_water                   33444 non-null    object
 38  has_warm_water_provider     379500 non-null   object
 39  has_electricity             33445 non-null    object
 40  has_gas                     33430 non-null    object
 41  has_heating_system          368969 non-null   object
 42  has_cooling_system          350619 non-null   object
 43  has_restroom                406913 non-null   object
 44  has_security_guard          31312 non-null    object
 45  has_barbecue                31198 non-null    object
 46  building_direction          323923 non-null   object
 47  has_pool                    1000000 non-null  bool
 48  has_jacuzzi                 1000000 non-null  bool
 49  has_sauna                   1000000 non-null  bool
 50  floor_material              405984 non-null   object
 51  property_type               1000000 non-null  object
 52  regular_person_capacity     29870 non-null    float64
 53  extra_person_capacity       24009 non-null    object
 54  cost_per_extra_person       10241 non-null    float64
 55  rent_price_on_regular_days  18068 non-null    float64
 56  rent_price_on_special_days  10463 non-null    float64
 57  rent_price_at_weekends      13551 non-null    float64
 58  location_latitude           655608 non-null   float64
 59  location_longitude          655608 non-null   float64
 60  location_radius             339699 non-null   float64
 61  room_count                  845899 non-null   float64
dtypes: bool(6), float64(18), int64(1), object(37)
memory usage: 433.0+ MB

In [4]:
numeric_features = [
    'price_value', 'building_size', 'land_size', 'rooms_count',
    'floor', 'total_floors_count', 'unit_per_floor', 'construction_year',
    'location_latitude', 'location_longitude'
]

categorical_features = [
    'city_slug', 'neighborhood_slug', 'deed_type',
    'cat2_slug', 'cat3_slug', 'user_type', 'building_direction', 'floor_material'
]

boolean_features = [
    'has_balcony', 'has_elevator', 'has_warehouse', 'has_parking',
    'is_rebuilt', 'has_water', 'has_warm_water_provider', 'has_electricity',
    'has_gas', 'has_heating_system', 'has_cooling_system', 'has_restroom',
    'has_security_guard', 'has_barbecue', 'has_pool', 'has_jacuzzi', 'has_sauna'
]

In [5]:
df2 = pd.DataFrame()
for _ in df.columns:
    if df[_].notna().sum() >300000:
        df2[_] = df[_]


df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 45 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   Unnamed: 0               1000000 non-null  int64
 1   cat2_slug                1000000 non-null  object
 2   cat3_slug                999999 non-null   object
 3   city_slug                999998 non-null   object
 4   neighborhood_slug        437139 non-null   object
 5   created_at_month         1000000 non-null  object
 6   user_type                1000000 non-null  object
 7   description              1000000 non-null  object
 8   title                    999946 non-null   object
 9   rent_mode                1000000 non-null  object
 10  rent_value               351322 non-null   float64
 11  rent_type                1000000 non-null  object
 12  price_mode               1000000 non-null  object
 13  price_value              568346 non-null   float64
 14  credit_mode              1000000 non-null  object
 15  credit_value             352095 non-null   float64
 16  rent_credit_transform    352985 non-null   object
 17  transformable_price      352894 non-null   object
 18  transformable_credit     352085 non-null   float64
 19  transformable_rent       351248 non-null   float64
 20  building_size            980394 non-null   float64
 21  floor                    541748 non-null   object
 22  rooms_count              1000000 non-null  object
 23  total_floors_count       304352 non-null   object
 24  unit_per_floor           302283 non-null   object
 25  has_balcony              506411 non-null   object
 26  has_elevator             1000000 non-null  bool
 27  has_warehouse            1000000 non-null  bool
 28  has_parking              1000000 non-null  bool
 29  construction_year        815828 non-null   object
 30  is_rebuilt               529470 non-null   object
 31  has_warm_water_provider  379500 non-null   object
 32  has_heating_system       368969 non-null   object
 33  has_cooling_system       350619 non-null   object
 34  has_restroom             406913 non-null   object
 35  building_direction       323923 non-null   object
 36  has_pool                 1000000 non-null  bool
 37  has_jacuzzi              1000000 non-null  bool
 38  has_sauna                1000000 non-null  bool
 39  floor_material           405984 non-null   object
 40  property_type            1000000 non-null  object
 41  location_latitude        655608 non-null   float64
 42  location_longitude       655608 non-null   float64
 43  location_radius          339699 non-null   float64
 44  room_count               845899 non-null   float64
dtypes: bool(6), float64(10), int64(1), object(28)
memory usage: 303.3+ MB

In [6]:
df = df2.copy()

## Filling neighbourhood

In [7]:
cols = ['location_latitude', 'location_longitude', 'location_radius', 'neighborhood_slug']
df_subset = df[cols]

In [8]:
known = df_subset[df_subset['neighborhood_slug'].notna()]
unknown = df_subset[df_subset['neighborhood_slug'].isna()]

In [9]:
known = known.dropna(subset=['location_latitude', 'location_longitude', 'location_radius'])

In [10]:
counts = known['neighborhood_slug'].value_counts()
valid_neighborhoods = counts[counts >= 2].index
known = known[known['neighborhood_slug'].isin(valid_neighborhoods)]

In [11]:
le = LabelEncoder()
known['neighborhood_encoded'] = le.fit_transform(known['neighborhood_slug'])

In [12]:
X = known[['location_latitude', 'location_longitude', 'location_radius']]
y = known['neighborhood_encoded']

In [13]:
X_train, X_val, y_train, y_val = train_test_split(
    X, y, test_size=0.2, random_state=42, stratify=y
)

In [14]:
k = 5  
knn = KNeighborsClassifier(n_neighbors=k, weights='distance')
knn.fit(X_train, y_train)

KNeighborsClassifier(weights='distance')

In [15]:
y_pred_val = knn.predict(X_val)
accuracy = accuracy_score(y_val, y_pred_val)
print(f"KNN Accuracy for neighborhood prediction: {accuracy:.2%}")

KNN Accuracy for neighborhood prediction: 85.20%

In [16]:
X_test = unknown[['location_latitude', 'location_longitude', 'location_radius']].dropna()

In [17]:
y_pred_test = knn.predict(X_test)
predicted_labels = le.inverse_transform(y_pred_test)

In [18]:
df.loc[X_test.index, 'neighborhood_slug'] = predicted_labels

print(f"Filled {len(X_test)} missing neighborhood_slug values.")

Filled 117692 missing neighborhood_slug values.

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 45 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   Unnamed: 0               1000000 non-null  int64
 1   cat2_slug                1000000 non-null  object
 2   cat3_slug                999999 non-null   object
 3   city_slug                999998 non-null   object
 4   neighborhood_slug        554831 non-null   object
 5   created_at_month         1000000 non-null  object
 6   user_type                1000000 non-null  object
 7   description              1000000 non-null  object
 8   title                    999946 non-null   object
 9   rent_mode                1000000 non-null  object
 10  rent_value               351322 non-null   float64
 11  rent_type                1000000 non-null  object
 12  price_mode               1000000 non-null  object
 13  price_value              568346 non-null   float64
 14  credit_mode              1000000 non-null  object
 15  credit_value             352095 non-null   float64
 16  rent_credit_transform    352985 non-null   object
 17  transformable_price      352894 non-null   object
 18  transformable_credit     352085 non-null   float64
 19  transformable_rent       351248 non-null   float64
 20  building_size            980394 non-null   float64
 21  floor                    541748 non-null   object
 22  rooms_count              1000000 non-null  object
 23  total_floors_count       304352 non-null   object
 24  unit_per_floor           302283 non-null   object
 25  has_balcony              506411 non-null   object
 26  has_elevator             1000000 non-null  bool
 27  has_warehouse            1000000 non-null  bool
 28  has_parking              1000000 non-null  bool
 29  construction_year        815828 non-null   object
 30  is_rebuilt               529470 non-null   object
 31  has_warm_water_provider  379500 non-null   object
 32  has_heating_system       368969 non-null   object
 33  has_cooling_system       350619 non-null   object
 34  has_restroom             406913 non-null   object
 35  building_direction       323923 non-null   object
 36  has_pool                 1000000 non-null  bool
 37  has_jacuzzi              1000000 non-null  bool
 38  has_sauna                1000000 non-null  bool
 39  floor_material           405984 non-null   object
 40  property_type            1000000 non-null  object
 41  location_latitude        655608 non-null   float64
 42  location_longitude       655608 non-null   float64
 43  location_radius          339699 non-null   float64
 44  room_count               845899 non-null   float64
dtypes: bool(6), float64(10), int64(1), object(28)
memory usage: 303.3+ MB

## Drop Unnecessary Columns

In [20]:
df['property_type'].value_counts()

property_type
jungle             950378
other               42797
beach                4188
jungle-mountain      2399
mountain              238
Name: count, dtype: int64

In [21]:
df.drop(['location_radius','location_longitude','location_latitude','property_type','floor_material','has_cooling_system','has_heating_system','has_warm_water_provider','room_count','transformable_rent','transformable_credit','transformable_price','rent_credit_transform','title','description','created_at_month','Unnamed: 0'] , axis=1 , inplace = True)

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 28 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   cat2_slug           1000000 non-null  object
 1   cat3_slug           999999 non-null   object
 2   city_slug           999998 non-null   object
 3   neighborhood_slug   554831 non-null   object
 4   user_type           1000000 non-null  object
 5   rent_mode           1000000 non-null  object
 6   rent_value          351322 non-null   float64
 7   rent_type           1000000 non-null  object
 8   price_mode          1000000 non-null  object
 9   price_value         568346 non-null   float64
 10  credit_mode         1000000 non-null  object
 11  credit_value        352095 non-null   float64
 12  building_size       980394 non-null   float64
 13  floor               541748 non-null   object
 14  rooms_count         1000000 non-null  object
 15  total_floors_count  304352 non-null   object
 16  unit_per_floor      302283 non-null   object
 17  has_balcony         506411 non-null   object
 18  has_elevator        1000000 non-null  bool
 19  has_warehouse       1000000 non-null  bool
 20  has_parking         1000000 non-null  bool
 21  construction_year   815828 non-null   object
 22  is_rebuilt          529470 non-null   object
 23  has_restroom        406913 non-null   object
 24  building_direction  323923 non-null   object
 25  has_pool            1000000 non-null  bool
 26  has_jacuzzi         1000000 non-null  bool
 27  has_sauna           1000000 non-null  bool
dtypes: bool(6), float64(4), object(18)
memory usage: 173.6+ MB

In [23]:
df = df.dropna(subset=["neighborhood_slug"])
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 554831 entries, 0 to 999999
Data columns (total 28 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   cat2_slug           554831 non-null  object
 1   cat3_slug           554830 non-null  object
 2   city_slug           554831 non-null  object
 3   neighborhood_slug   554831 non-null  object
 4   user_type           554831 non-null  object
 5   rent_mode           554831 non-null  object
 6   rent_value          212970 non-null  float64
 7   rent_type           554831 non-null  object
 8   price_mode          554831 non-null  object
 9   price_value         308760 non-null  float64
 10  credit_mode         554831 non-null  object
 11  credit_value        213427 non-null  float64
 12  building_size       544945 non-null  float64
 13  floor               367562 non-null  object
 14  rooms_count         554831 non-null  object
 15  total_floors_count  214792 non-null  object
 16  unit_per_floor      212925 non-null  object
 17  has_balcony         299538 non-null  object
 18  has_elevator        554831 non-null  bool
 19  has_warehouse       554831 non-null  bool
 20  has_parking         554831 non-null  bool
 21  construction_year   486409 non-null  object
 22  is_rebuilt          292411 non-null  object
 23  has_restroom        257582 non-null  object
 24  building_direction  213337 non-null  object
 25  has_pool            554831 non-null  bool
 26  has_jacuzzi         554831 non-null  bool
 27  has_sauna           554831 non-null  bool
dtypes: bool(6), float64(4), object(18)
memory usage: 100.5+ MB

In [24]:
df.rent_type.unique()

array(['rent_credit', 'full_credit'], dtype=object)

In [25]:
df[["rent_value", "rent_type", "credit_value", "credit_mode", "price_value", "price_mode"]].sample(10)

,rent_value,rent_type,credit_value,credit_mode,price_value,price_mode
602767,NaN,rent_credit,NaN,مقطوع,2.000000e+09,مقطوع
178618,1.500000e+09,rent_credit,5.000000e+09,مقطوع,NaN,مقطوع
39669,NaN,rent_credit,NaN,مقطوع,4.100000e+10,مقطوع
245903,NaN,rent_credit,NaN,مقطوع,1.111111e+09,مقطوع
32830,NaN,rent_credit,NaN,مقطوع,5.300000e+09,مقطوع
843173,NaN,rent_credit,NaN,مقطوع,1.925000e+09,مقطوع
61774,NaN,rent_credit,NaN,مقطوع,3.000000e+09,مقطوع
318053,NaN,rent_credit,NaN,مقطوع,2.750000e+09,مقطوع
157993,NaN,rent_credit,NaN,مقطوع,1.910000e+09,مقطوع
687934,NaN,rent_credit,NaN,مقطوع,8.550000e+09,مقطوع

In [1]:
df = df.reset_index(names="id")

long_values = df.melt(
    id_vars=["id"],
    value_vars=["rent_value", "credit_value", "price_value"],
    var_name="flag",
    value_name="value"
)

long_modes = df.melt(
    id_vars=["id"],
    value_vars=["rent_type", "credit_mode", "price_mode"],
    var_name="flag_mode",
    value_name="mode"
)

long_values["flag"] = long_values["flag"].str.replace("_value", "", regex=False)
long_modes["flag_mode"] = long_modes["flag_mode"].str.replace("_type", "", regex=False)
long_modes["flag_mode"] = long_modes["flag_mode"].str.replace("_mode", "", regex=False)

long_df = long_values.merge(
    long_modes, left_on=["id", "flag"], right_on=["id", "flag_mode"], how="left"
).drop(columns="flag_mode")

long_df = long_df.dropna(subset=["value"])

df_with_flag = df.merge(long_df, on="id", how="left")

NameError: name 'df' is not defined

In [27]:
df_with_flag

,id,cat2_slug,cat3_slug,city_slug,neighborhood_slug,user_type,rent_mode,rent_value,rent_type,price_mode,...,construction_year,is_rebuilt,has_restroom,building_direction,has_pool,has_jacuzzi,has_sauna,flag,value,mode
0,0,temporary-rent,villa,karaj,mehrshahr,مشاور املاک,مقطوع,NaN,rent_credit,مقطوع,...,NaN,NaN,NaN,NaN,False,False,False,NaN,NaN,NaN
1,1,residential-sell,apartment-sell,tehran,gholhak,مشاور املاک,مقطوع,NaN,rent_credit,مقطوع,...,۱۳۸۴,NaN,NaN,NaN,False,False,False,price,8.500000e+09,مقطوع
2,2,residential-rent,apartment-rent,tehran,tohid,شخصی,مقطوع,26000000.0,rent_credit,مقطوع,...,۱۴۰۱,False,NaN,NaN,False,False,False,rent,2.600000e+07,rent_credit
3,2,residential-rent,apartment-rent,tehran,tohid,شخصی,مقطوع,26000000.0,rent_credit,مقطوع,...,۱۴۰۱,False,NaN,NaN,False,False,False,credit,7.500000e+08,مقطوع
4,3,commercial-rent,office-rent,tehran,elahiyeh,مشاور املاک,مقطوع,95000000.0,rent_credit,مقطوع,...,۱۴۰۰,NaN,NaN,NaN,False,False,False,rent,9.500000e+07,rent_credit
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
767722,999995,residential-sell,apartment-sell,kermanshah,khorramdasht,مشاور املاک,مقطوع,NaN,rent_credit,مقطوع,...,۱۴۰۳,NaN,NaN,NaN,False,False,False,price,7.470000e+09,مقطوع
767723,999996,residential-rent,apartment-rent,tehran,darya,مشاور املاک,مقطوع,45000000.0,rent_credit,مقطوع,...,۱۴۰۳,NaN,NaN,NaN,False,False,False,rent,4.500000e+07,rent_credit
767724,999996,residential-rent,apartment-rent,tehran,darya,مشاور املاک,مقطوع,45000000.0,rent_credit,مقطوع,...,۱۴۰۳,NaN,NaN,NaN,False,False,False,credit,1.000000e+09,مقطوع
767725,999999,residential-rent,apartment-rent,tehran,jeyhoun,مشاور املاک,مجانی,0.0,rent_credit,مقطوع,...,۱۳۸۲,True,squat,NaN,False,False,False,rent,0.000000e+00,rent_credit
767726,999999,residential-rent,apartment-rent,tehran,jeyhoun,مشاور املاک,مجانی,0.0,rent_credit,مقطوع,...,۱۳۸۲,True,squat,NaN,False,False,False,credit,3.500000e+08,مقطوع

In [28]:
df = df_with_flag.drop(['id',"rent_value", "credit_value", "price_value","rent_type", "credit_mode", "price_mode",'rent_mode','mode'] , axis = 1 )

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 767727 entries, 0 to 767726
Data columns (total 23 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   cat2_slug           767727 non-null  object
 1   cat3_slug           767726 non-null  object
 2   city_slug           767727 non-null  object
 3   neighborhood_slug   767727 non-null  object
 4   user_type           767727 non-null  object
 5   building_size       757840 non-null  float64
 6   floor               526434 non-null  object
 7   rooms_count         767727 non-null  object
 8   total_floors_count  297891 non-null  object
 9   unit_per_floor      295946 non-null  object
 10  has_balcony         413302 non-null  object
 11  has_elevator        767727 non-null  bool
 12  has_warehouse       767727 non-null  bool
 13  has_parking         767727 non-null  bool
 14  construction_year   699012 non-null  object
 15  is_rebuilt          411102 non-null  object
 16  has_restroom        359327 non-null  object
 17  building_direction  293333 non-null  object
 18  has_pool            767727 non-null  bool
 19  has_jacuzzi         767727 non-null  bool
 20  has_sauna           767727 non-null  bool
 21  flag                735157 non-null  object
 22  value               735157 non-null  float64
dtypes: bool(6), float64(2), object(15)
memory usage: 104.0+ MB

## Data Engineering

In [30]:
df['construction_year'].value_counts()

construction_year
۱۴۰۳           86836
۱۳۹۰           54171
۱۳۹۵           44839
۱۴۰۰           44702
۱۴۰۲           44013
۱۳۸۵           34109
۱۳۹۸           33155
۱۳۹۷           31333
۱۳۹۶           29725
۱۴۰۱           29067
۱۳۹۳           25295
۱۳۹۹           25179
۱۳۸۸           23990
۱۳۸۰           22794
۱۳۹۲           21978
۱۳۹۴           21824
قبل از ۱۳۷۰    16165
۱۳۸۹           15802
۱۳۹۱           14040
۱۳۸۷           13821
۱۳۸۶           12874
۱۳۸۳           10479
۱۳۸۴            8315
۱۳۸۲            6870
۱۳۷۵            6568
۱۳۷۱            4831
۱۳۸۱            3352
۱۳۷۸            2858
۱۳۷۹            2247
۱۳۷۷            1911
۱۳۷۳            1700
۱۳۷۲            1689
۱۳۷۶            1396
۱۳۷۴            1084
Name: count, dtype: int64

In [31]:
persian_to_english_map = str.maketrans('۰۱۲۳۴۵۶۷۸۹', '0123456789')

df['construction_year'] = (
    df['construction_year']
    .astype(str)
    .apply(lambda x: x.translate(persian_to_english_map) if isinstance(x, str) else x)
    .str.extract(r'(\d+)', expand=False)   
)


df['age'] = 1404 -  pd.to_numeric(df['construction_year'])
df.drop(['construction_year'] , axis = 1 , inplace = True)

print(df['age'].sort_values().unique())

[ 1.  2.  3.  4.  5.  6.  7.  8.  9. 10. 11. 12. 13. 14. 15. 16. 17. 18.
 19. 20. 21. 22. 23. 24. 25. 26. 27. 28. 29. 30. 31. 32. 33. 34. nan]

In [32]:
df.columns
for _ in df.columns:
    df[_]=df[_].replace("unselect", np.nan)
    print(_ ,df[_].unique())

cat2_slug ['temporary-rent' 'residential-sell' 'residential-rent' 'commercial-rent'
 'commercial-sell' 'real-estate-services']
cat3_slug ['villa' 'apartment-sell' 'apartment-rent' 'office-rent' 'plot-old'
 'house-villa-sell' 'house-villa-rent' 'shop-sell' 'shop-rent'
 'office-sell' 'presell' 'industry-agriculture-business-sell'
 'industry-agriculture-business-rent' 'suite-apartment' 'partnership'
 'workspace' nan]
city_slug ['karaj' 'tehran' 'mashhad' 'ahvaz' 'mahdasht-city' 'rasht' 'shiraz'
 'gonabad' 'andisheh-new-town' 'chamestan' 'urmia' 'nur' 'amol' 'isfahan'
 'ilam' 'pakdasht-city' 'chalus' 'eslamshahr' 'lavasan-city' 'mohammadieh'
 'izadshahr' 'nowshahr' 'neyshabur' 'rudehen' 'torbat-jam' 'polsefid'
 'kerman' 'khorramabad' 'bandar-abbas' 'ramiyan' 'sanandaj' 'qom'
 'qarchak-city' 'garmdareh' 'kish' 'kiasar' 'pardis-city' 'birjand'
 'ardabil' 'golestan-baharestan' 'kahrizak' 'rudsar'
 'safadasht-industrial-city' 'varamin-city' 'qods-city' 'hamedan'
 'parand-city' 'robat-karim' 'nahavand' 'zahedan' 'masal' 'dezful'
 'qaem-shahr' 'qazvin' 'malayer' 'sonqor' 'fardis-city' 'kouchesfahan'
 'sorkhrood' 'astara' 'nazarabad' 'sadra' 'arak' 'zanjan' 'gonbad-kavus'
 'juybar' 'shahin-shahr' 'kermanshah' 'azarshahr' 'hachirud' 'maragheh'
 'tonekabon' 'shushtar' 'pirbazar' 'sabzevar' 'sari' 'tabriz' 'ramsar'
 'bojnurd' 'mohammad-shahr' 'shahriar-city' 'bahar-city' 'nasimshahr'
 'hashtgerd-city' 'ferdosiye' 'yazd' 'kalale' 'behbahan'
 'katalem-sadatshahr' 'gorgan' 'golbahar-city' 'mahmudabad' 'firuzkooh'
 'vahidieh' 'chenaran' 'shahrekord' 'koumeleh' 'bumehen' 'qeshm'
 'charbagh-alborz' 'golpayegan' 'shandiz-city' 'yasuj' 'saveh'
 'someh-sara' 'pishva' 'royan' 'talesh' 'marand' 'lahijan' 'dogonbadan'
 'bushehr' 'kashan' 'mahshahr' 'amlash' 'damavand' 'khorramshahr' 'asalem'
 'abadan' 'dorud' 'quchan' 'falavarjan' 'pareh-sar' 'chahar-dangeh'
 'shazand' 'babol' 'sahand' 'saqqez' 'galikesh' 'khoy' 'bandar-anzali'
 'rafsanjan' 'shirvan' 'rezvanshahr' 'neka' 'khomein' 'langarud'
 'najafabad' 'chaf-chamkhale' 'mianeh' 'jam' 'bonab' 'tankaman' 'shaft'
 'semnan' 'mahabad' 'borazjan' 'miandoab' 'babolsar' 'maku' 'damghan'
 'behshahr' 'eqlid' 'fuman' 'khorramdarreh' 'bam' 'borujerd' 'fasa-city'
 'negin-shahr' 'khoshkbijar' 'meybod' 'bandar-torkaman' 'marvdasht-city'
 'babakan' 'akand' 'foolad-shahr' 'ahmadsar-gourab' 'sisakht' 'gomishan'
 'ghayen' 'chaboksar' 'kiashahr' 'lashtenesha' 'khormoj' 'kelarestan'
 'abali' 'boroujen' 'salman-shahr' 'marivan' 'shahre-rey' 'susangerd'
 'eshtehard' 'aligudarz' 'absard' 'koohsar' 'dayyer' 'norabad'
 'masjed-e-soleyman' 'kahnooj' 'darab' 'sabashahr' 'zarghan' 'jahrom'
 'abhar' 'saravan' 'zibakenar' 'Iranshahr' 'shush' 'oshnavieh' 'daran'
 'minab' 'masuleh' 'roudbaneh' 'qorveh' 'jiroft' 'siahkal' 'esfarayen'
 'mehriz' 'shirgah' 'kangavar' 'aran-va-bidgol' 'nurabad' 'salmas'
 'sirjan' 'abadeh' 'chabahar' 'taleqan' 'minoodasht' 'shelman'
 'bandar-Imam-khomeini' 'sarpol-zahab' 'azadshahr-golestan' 'dabudasht'
 'torbat-heydariyeh' 'khomeyni-shahr' 'khomam' 'zabol' 'baft'
 'astaneh-ashrafiyeh' 'sadegh-abad' 'torghabeh-city' 'dehdasht' 'ferdows'
 'emamzadeh-abdollah' 'javadabad' 'shahrud' 'aleshtar' 'abyek'
 'fereydunkenar' 'khoram-abad' 'bandar-ganaveh' 'andimeshk' 'sangar'
 'javanrud' 'ashkhaneh' 'takestan' 'ziraab' 'chobar' 'pool' 'lenjan'
 'raheem-abad' 'izeh' 'eslamabad-gharb' 'lordegan' 'makloan' 'tuyserkan'
 'zarand' 'garmsar' 'deylaman' 'azna' 'khalkhal' 'omidiyeh' 'khash'
 'kelachay' 'Kordkuy' 'loulman' 'amirkala' 'firuzabad' 'bandar-kangan'
 'abbasabad-mazandaran' 'ahar' 'barah-sar' 'mobarakeh' 'otaghvar'
 'kamyaran' 'nashtarud' 'mazrae-katool' 'tulam-shahr' 'kelarabad'
 'zargarshahr' 'shirud' 'ramshir' 'alvand' 'bardsir' 'fasham-city'
 'aliabad-katul' 'shadeghan' 'hamidia' 'bukan' 'aq-qala' 'neyriz' 'reyneh'
 'qeydar' 'germi' 'meshgin-shahr' 'ardakan' 'kazeroon' 'namin' 'kuhdasht'
 'bardaskan' 'khaf' 'dalkhani' 'sangdovin' 'semirom' 'galugah-babol'
 'loshan' 'lavandevil' 'bisotun' 'baneh' 'ramhormoz' 'eyvan'
 'gourab-zarmikh' 'delijan' 'asadabad' 'sarein' 'pol-dokhtar' 'ghamsar'
 'toutkabon' 'ghorogh' 'mehran' 'sahneh' 'abdanan' 'marzan-abad' 'lar'
 'sarab' 'lisar' 'naqadeh' 'shahedshahr' 'baghershahr' 'manjil' 'bijar'
 'galougah-babol' 'khoshroud-pey' 'farim' 'kabudrahang' 'aalasht'
 'bahnamir' 'boluk' 'kilan' 'farahabad' 'dehloran' 'vajargah' 'gazanak'
 'parsabad' 'taybad' 'tabaghdeh' 'sourek' 'shal' 'tahergurab' 'fazel-abad'
 'eqbaliyeh' 'bafq' 'rostamkola' 'takht' 'konarak' 'tabas' 'kiakola'
 'taft' 'rudbar' 'molkabad' 'mahan' 'dozin' 'lamerd' 'ziyabar' 'arjmand'
 'qasemabad-khaf' 'jirandeh' 'paeen-holar' 'saman-city' 'shahin-dej'
 'abrisham-isfahan' 'farrokhshahr' 'gahvareh' 'dehgolan' 'bandar-gaz'
 'rankouh' 'khansar' 'marzikola' 'nokandeh' 'shemshak' 'chamran-town'
 'asara' 'piranshahr' 'shanderman' 'hormuz' 'khalil-shahr' 'jelin'
 'alghajar' 'rostam-abad' 'sorkhan-kalateh' 'haviq' 'zahak' 'kojur'
 'mahalat' 'faragi' 'mohajeran' 'dargahan' 'khan-bin' 'mohr' 'hamidiyeh'
 'harsin' 'nodeh-khandoz' 'kouhi-kheyl' 'arateh' 'yanghagh' 'hendijan'
 'hadi-shahr' 'sardasht' 'daland' 'anbaralum' 'astaneh-sara'
 'maraveh-tapeh' 'baladeh' 'inche-borun' 'sijval' 'simin-shahr' 'gatab'
 'khour']
neighborhood_slug ['mehrshahr' 'gholhak' 'tohid' ... 'shaliur' 'janbazan-rasht'
 'jamaran-rasht']
user_type ['مشاور املاک' 'شخصی']
building_size [  500.    60.   132. ...   591.  3393. 25500.]
floor [nan '3' '4' '1' '2' '5' '0' '18' '8' '6' '12' '7' '11' '13' '9' '10' '19'
 '16' '-1' '21' '15' '14' '17' '20' '22' '23' '25' '24' '30+' '30' '26'
 '28' '29' '27' 3.0 2.0 1.0 0.0 4.0 20.0 7.0 5.0 18.0 8.0 6.0 22.0 10.0
 14.0 9.0]
rooms_count ['سه' 'یک' 'دو' 'بدون اتاق' 'چهار' 'پنج یا بیشتر']
total_floors_count [nan '6' '3' '5' '4' '2' '7' '8' '12' '11' '17' '9' '10' '25' '18' '19'
 '16' '21' '20' '15' '22' '13' '14' '24' '29' '26' '30' '30+' '27' '23'
 '28' 4.0 5.0 2.0 3.0 25.0 6.0 7.0 20.0 10.0 8.0 11.0 21.0 19.0 13.0]
unit_per_floor [nan '2' '4' '1' '3' '8' '6' '5' '7' 'more_than_8']
has_balcony [nan 'true' 'false' True False]
has_elevator [ True False]
has_warehouse [ True False]
has_parking [ True False]
is_rebuilt [nan False True]
has_restroom [nan 'squat_seat' 'squat' 'seat']
building_direction [nan 'north' 'south' 'east' 'west']
has_pool [False  True]
has_jacuzzi [False  True]
has_sauna [False  True]
flag [nan 'price' 'rent' 'credit']
value [      nan 8.500e+09 2.600e+07 ... 4.536e+06 9.711e+09 1.696e+09]
age [nan 20.  3.  4.  1. 15. 11.  8. 17. 19. 14.  2. 34. 12. 21.  6. 10. 13.
 26. 29.  5. 16.  9. 22.  7. 18. 24. 30. 33. 23. 32. 28. 25. 27. 31.]

In [33]:
df['rooms_count'] = df['rooms_count'].replace({
    'پنج یا بیشتر': 5,
    'چهار': 4,
    'سه': 3,
    'یک': 1,
    'دو': 2,
    'بدون اتاق': 0
})
df['rooms_count'].unique()

C:\Users\Asus\AppData\Local\Temp\ipykernel_30868\1842464251.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['rooms_count'] = df['rooms_count'].replace({

array([3, 1, 2, 0, 4, 5])

In [34]:
df['unit_per_floor'] = df['unit_per_floor'].replace({'more_than_8': 9})
df['unit_per_floor'].unique()

array([nan, '2', '4', '1', '3', '8', '6', '5', '7', 9], dtype=object)

In [35]:
df['floor'] = df['floor'].replace({'30+': 30})
df['floor'].unique()

array([nan, '3', '4', '1', '2', '5', '0', '18', '8', '6', '12', '7', '11',
       '13', '9', '10', '19', '16', '-1', '21', '15', '14', '17', '20',
       '22', '23', '25', '24', 30, '30', '26', '28', '29', '27', 3.0, 2.0,
       1.0, 0.0, 4.0, 20.0, 7.0, 5.0, 18.0, 8.0, 6.0, 22.0, 10.0, 14.0,
       9.0], dtype=object)

In [36]:
df['total_floors_count'] = df['total_floors_count'].replace({'30+': 30})
df['total_floors_count'].unique()

array([nan, '6', '3', '5', '4', '2', '7', '8', '12', '11', '17', '9',
       '10', '25', '18', '19', '16', '21', '20', '15', '22', '13', '14',
       '24', '29', '26', '30', 30, '27', '23', '28', 4.0, 5.0, 2.0, 3.0,
       25.0, 6.0, 7.0, 20.0, 10.0, 8.0, 11.0, 21.0, 19.0, 13.0],
      dtype=object)

## Numericals to float

In [37]:
Numerical = ['floor','rooms_count','total_floors_count','unit_per_floor']

In [38]:
df3 = df.copy()

In [39]:
for i in Numerical:
    df[i] = df[i].astype(float)

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 767727 entries, 0 to 767726
Data columns (total 23 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   cat2_slug           767727 non-null  object
 1   cat3_slug           767726 non-null  object
 2   city_slug           767727 non-null  object
 3   neighborhood_slug   767727 non-null  object
 4   user_type           767727 non-null  object
 5   building_size       757840 non-null  float64
 6   floor               526434 non-null  float64
 7   rooms_count         767727 non-null  float64
 8   total_floors_count  297822 non-null  float64
 9   unit_per_floor      295780 non-null  float64
 10  has_balcony         413132 non-null  object
 11  has_elevator        767727 non-null  bool
 12  has_warehouse       767727 non-null  bool
 13  has_parking         767727 non-null  bool
 14  is_rebuilt          411102 non-null  object
 15  has_restroom        359019 non-null  object
 16  building_direction  291624 non-null  object
 17  has_pool            767727 non-null  bool
 18  has_jacuzzi         767727 non-null  bool
 19  has_sauna           767727 non-null  bool
 20  flag                735157 non-null  object
 21  value               735157 non-null  float64
 22  age                 699012 non-null  float64
dtypes: bool(6), float64(7), object(10)
memory usage: 104.0+ MB

In [41]:
df.columns
for _ in df.columns:
    print(_ ,df[_].unique())

cat2_slug ['temporary-rent' 'residential-sell' 'residential-rent' 'commercial-rent'
 'commercial-sell' 'real-estate-services']
cat3_slug ['villa' 'apartment-sell' 'apartment-rent' 'office-rent' 'plot-old'
 'house-villa-sell' 'house-villa-rent' 'shop-sell' 'shop-rent'
 'office-sell' 'presell' 'industry-agriculture-business-sell'
 'industry-agriculture-business-rent' 'suite-apartment' 'partnership'
 'workspace' nan]
city_slug ['karaj' 'tehran' 'mashhad' 'ahvaz' 'mahdasht-city' 'rasht' 'shiraz'
 'gonabad' 'andisheh-new-town' 'chamestan' 'urmia' 'nur' 'amol' 'isfahan'
 'ilam' 'pakdasht-city' 'chalus' 'eslamshahr' 'lavasan-city' 'mohammadieh'
 'izadshahr' 'nowshahr' 'neyshabur' 'rudehen' 'torbat-jam' 'polsefid'
 'kerman' 'khorramabad' 'bandar-abbas' 'ramiyan' 'sanandaj' 'qom'
 'qarchak-city' 'garmdareh' 'kish' 'kiasar' 'pardis-city' 'birjand'
 'ardabil' 'golestan-baharestan' 'kahrizak' 'rudsar'
 'safadasht-industrial-city' 'varamin-city' 'qods-city' 'hamedan'
 'parand-city' 'robat-karim' 'nahavand' 'zahedan' 'masal' 'dezful'
 'qaem-shahr' 'qazvin' 'malayer' 'sonqor' 'fardis-city' 'kouchesfahan'
 'sorkhrood' 'astara' 'nazarabad' 'sadra' 'arak' 'zanjan' 'gonbad-kavus'
 'juybar' 'shahin-shahr' 'kermanshah' 'azarshahr' 'hachirud' 'maragheh'
 'tonekabon' 'shushtar' 'pirbazar' 'sabzevar' 'sari' 'tabriz' 'ramsar'
 'bojnurd' 'mohammad-shahr' 'shahriar-city' 'bahar-city' 'nasimshahr'
 'hashtgerd-city' 'ferdosiye' 'yazd' 'kalale' 'behbahan'
 'katalem-sadatshahr' 'gorgan' 'golbahar-city' 'mahmudabad' 'firuzkooh'
 'vahidieh' 'chenaran' 'shahrekord' 'koumeleh' 'bumehen' 'qeshm'
 'charbagh-alborz' 'golpayegan' 'shandiz-city' 'yasuj' 'saveh'
 'someh-sara' 'pishva' 'royan' 'talesh' 'marand' 'lahijan' 'dogonbadan'
 'bushehr' 'kashan' 'mahshahr' 'amlash' 'damavand' 'khorramshahr' 'asalem'
 'abadan' 'dorud' 'quchan' 'falavarjan' 'pareh-sar' 'chahar-dangeh'
 'shazand' 'babol' 'sahand' 'saqqez' 'galikesh' 'khoy' 'bandar-anzali'
 'rafsanjan' 'shirvan' 'rezvanshahr' 'neka' 'khomein' 'langarud'
 'najafabad' 'chaf-chamkhale' 'mianeh' 'jam' 'bonab' 'tankaman' 'shaft'
 'semnan' 'mahabad' 'borazjan' 'miandoab' 'babolsar' 'maku' 'damghan'
 'behshahr' 'eqlid' 'fuman' 'khorramdarreh' 'bam' 'borujerd' 'fasa-city'
 'negin-shahr' 'khoshkbijar' 'meybod' 'bandar-torkaman' 'marvdasht-city'
 'babakan' 'akand' 'foolad-shahr' 'ahmadsar-gourab' 'sisakht' 'gomishan'
 'ghayen' 'chaboksar' 'kiashahr' 'lashtenesha' 'khormoj' 'kelarestan'
 'abali' 'boroujen' 'salman-shahr' 'marivan' 'shahre-rey' 'susangerd'
 'eshtehard' 'aligudarz' 'absard' 'koohsar' 'dayyer' 'norabad'
 'masjed-e-soleyman' 'kahnooj' 'darab' 'sabashahr' 'zarghan' 'jahrom'
 'abhar' 'saravan' 'zibakenar' 'Iranshahr' 'shush' 'oshnavieh' 'daran'
 'minab' 'masuleh' 'roudbaneh' 'qorveh' 'jiroft' 'siahkal' 'esfarayen'
 'mehriz' 'shirgah' 'kangavar' 'aran-va-bidgol' 'nurabad' 'salmas'
 'sirjan' 'abadeh' 'chabahar' 'taleqan' 'minoodasht' 'shelman'
 'bandar-Imam-khomeini' 'sarpol-zahab' 'azadshahr-golestan' 'dabudasht'
 'torbat-heydariyeh' 'khomeyni-shahr' 'khomam' 'zabol' 'baft'
 'astaneh-ashrafiyeh' 'sadegh-abad' 'torghabeh-city' 'dehdasht' 'ferdows'
 'emamzadeh-abdollah' 'javadabad' 'shahrud' 'aleshtar' 'abyek'
 'fereydunkenar' 'khoram-abad' 'bandar-ganaveh' 'andimeshk' 'sangar'
 'javanrud' 'ashkhaneh' 'takestan' 'ziraab' 'chobar' 'pool' 'lenjan'
 'raheem-abad' 'izeh' 'eslamabad-gharb' 'lordegan' 'makloan' 'tuyserkan'
 'zarand' 'garmsar' 'deylaman' 'azna' 'khalkhal' 'omidiyeh' 'khash'
 'kelachay' 'Kordkuy' 'loulman' 'amirkala' 'firuzabad' 'bandar-kangan'
 'abbasabad-mazandaran' 'ahar' 'barah-sar' 'mobarakeh' 'otaghvar'
 'kamyaran' 'nashtarud' 'mazrae-katool' 'tulam-shahr' 'kelarabad'
 'zargarshahr' 'shirud' 'ramshir' 'alvand' 'bardsir' 'fasham-city'
 'aliabad-katul' 'shadeghan' 'hamidia' 'bukan' 'aq-qala' 'neyriz' 'reyneh'
 'qeydar' 'germi' 'meshgin-shahr' 'ardakan' 'kazeroon' 'namin' 'kuhdasht'
 'bardaskan' 'khaf' 'dalkhani' 'sangdovin' 'semirom' 'galugah-babol'
 'loshan' 'lavandevil' 'bisotun' 'baneh' 'ramhormoz' 'eyvan'
 'gourab-zarmikh' 'delijan' 'asadabad' 'sarein' 'pol-dokhtar' 'ghamsar'
 'toutkabon' 'ghorogh' 'mehran' 'sahneh' 'abdanan' 'marzan-abad' 'lar'
 'sarab' 'lisar' 'naqadeh' 'shahedshahr' 'baghershahr' 'manjil' 'bijar'
 'galougah-babol' 'khoshroud-pey' 'farim' 'kabudrahang' 'aalasht'
 'bahnamir' 'boluk' 'kilan' 'farahabad' 'dehloran' 'vajargah' 'gazanak'
 'parsabad' 'taybad' 'tabaghdeh' 'sourek' 'shal' 'tahergurab' 'fazel-abad'
 'eqbaliyeh' 'bafq' 'rostamkola' 'takht' 'konarak' 'tabas' 'kiakola'
 'taft' 'rudbar' 'molkabad' 'mahan' 'dozin' 'lamerd' 'ziyabar' 'arjmand'
 'qasemabad-khaf' 'jirandeh' 'paeen-holar' 'saman-city' 'shahin-dej'
 'abrisham-isfahan' 'farrokhshahr' 'gahvareh' 'dehgolan' 'bandar-gaz'
 'rankouh' 'khansar' 'marzikola' 'nokandeh' 'shemshak' 'chamran-town'
 'asara' 'piranshahr' 'shanderman' 'hormuz' 'khalil-shahr' 'jelin'
 'alghajar' 'rostam-abad' 'sorkhan-kalateh' 'haviq' 'zahak' 'kojur'
 'mahalat' 'faragi' 'mohajeran' 'dargahan' 'khan-bin' 'mohr' 'hamidiyeh'
 'harsin' 'nodeh-khandoz' 'kouhi-kheyl' 'arateh' 'yanghagh' 'hendijan'
 'hadi-shahr' 'sardasht' 'daland' 'anbaralum' 'astaneh-sara'
 'maraveh-tapeh' 'baladeh' 'inche-borun' 'sijval' 'simin-shahr' 'gatab'
 'khour']
neighborhood_slug ['mehrshahr' 'gholhak' 'tohid' ... 'shaliur' 'janbazan-rasht'
 'jamaran-rasht']
user_type ['مشاور املاک' 'شخصی']
building_size [  500.    60.   132. ...   591.  3393. 25500.]
floor [nan  3.  4.  1.  2.  5.  0. 18.  8.  6. 12.  7. 11. 13.  9. 10. 19. 16.
 -1. 21. 15. 14. 17. 20. 22. 23. 25. 24. 30. 26. 28. 29. 27.]
rooms_count [3. 1. 2. 0. 4. 5.]
total_floors_count [nan  6.  3.  5.  4.  2.  7.  8. 12. 11. 17.  9. 10. 25. 18. 19. 16. 21.
 20. 15. 22. 13. 14. 24. 29. 26. 30. 27. 23. 28.]
unit_per_floor [nan  2.  4.  1.  3.  8.  6.  5.  7.  9.]
has_balcony [nan 'true' 'false' True False]
has_elevator [ True False]
has_warehouse [ True False]
has_parking [ True False]
is_rebuilt [nan False True]
has_restroom [nan 'squat_seat' 'squat' 'seat']
building_direction [nan 'north' 'south' 'east' 'west']
has_pool [False  True]
has_jacuzzi [False  True]
has_sauna [False  True]
flag [nan 'price' 'rent' 'credit']
value [      nan 8.500e+09 2.600e+07 ... 4.536e+06 9.711e+09 1.696e+09]
age [nan 20.  3.  4.  1. 15. 11.  8. 17. 19. 14.  2. 34. 12. 21.  6. 10. 13.
 26. 29.  5. 16.  9. 22.  7. 18. 24. 30. 33. 23. 32. 28. 25. 27. 31.]

## Drop Records with nan

In [42]:
df = df.dropna()

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 171996 entries, 10 to 767721
Data columns (total 23 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   cat2_slug           171996 non-null  object
 1   cat3_slug           171996 non-null  object
 2   city_slug           171996 non-null  object
 3   neighborhood_slug   171996 non-null  object
 4   user_type           171996 non-null  object
 5   building_size       171996 non-null  float64
 6   floor               171996 non-null  float64
 7   rooms_count         171996 non-null  float64
 8   total_floors_count  171996 non-null  float64
 9   unit_per_floor      171996 non-null  float64
 10  has_balcony         171996 non-null  object
 11  has_elevator        171996 non-null  bool
 12  has_warehouse       171996 non-null  bool
 13  has_parking         171996 non-null  bool
 14  is_rebuilt          171996 non-null  object
 15  has_restroom        171996 non-null  object
 16  building_direction  171996 non-null  object
 17  has_pool            171996 non-null  bool
 18  has_jacuzzi         171996 non-null  bool
 19  has_sauna           171996 non-null  bool
 20  flag                171996 non-null  object
 21  value               171996 non-null  float64
 22  age                 171996 non-null  float64
dtypes: bool(6), float64(7), object(10)
memory usage: 24.6+ MB

In [44]:
df['has_balcony'] = df['has_balcony'].map({'false': False, 'true': True})
df['has_balcony'].value_counts().sort_values()

has_balcony
False     22453
True     140905
Name: count, dtype: int64

In [45]:
df['has_balcony'] = df['has_balcony'].astype(bool)

In [46]:
df['is_rebuilt'] = df['is_rebuilt'].astype(bool)

In [47]:
df.columns
for _ in df.columns:
    print(_ ,df[_].unique())

cat2_slug ['residential-sell' 'residential-rent']
cat3_slug ['apartment-sell' 'apartment-rent']
city_slug ['mahdasht-city' 'mashhad' 'urmia' 'shiraz' 'tehran' 'isfahan'
 'eslamshahr' 'karaj' 'andisheh-new-town' 'ahvaz' 'khorramabad' 'rudsar'
 'robat-karim' 'rasht' 'varamin-city' 'qom' 'fardis-city' 'maragheh'
 'pardis-city' 'nasimshahr' 'kermanshah' 'tabriz' 'vahidieh' 'arak'
 'someh-sara' 'sadra' 'gorgan' 'hashtgerd-city' 'mohammad-shahr'
 'qods-city' 'langarud' 'shirvan' 'saveh' 'bumehen' 'kerman' 'garmdareh'
 'golbahar-city' 'bandar-abbas' 'kish' 'parand-city' 'birjand' 'sari'
 'hamedan' 'bandar-anzali' 'neyshabur' 'shahriar-city' 'torbat-jam'
 'lahijan' 'qarchak-city' 'ardabil' 'golpayegan' 'nowshahr' 'sabashahr'
 'maku' 'pakdasht-city' 'kashan' 'qorveh' 'gonbad-kavus'
 'golestan-baharestan' 'borujerd' 'sanandaj' 'talesh' 'qazvin'
 'minoodasht' 'charbagh-alborz' 'abadan' 'sahand'
 'safadasht-industrial-city' 'amlash' 'royan' 'astaneh-ashrafiyeh'
 'nazarabad' 'babolsar' 'javanrud' 'chahar-dangeh' 'andimeshk' 'tuyserkan'
 'dorud' 'nur' 'sabzevar' 'daran' 'qaem-shahr' 'zanjan' 'sirjan' 'rudehen'
 'tonekabon' 'chabahar' 'damavand' 'pishva' 'ramsar' 'shahrekord' 'yasuj'
 'kelarabad' 'dezful' 'salman-shahr' 'malayer' 'nahavand' 'ferdosiye'
 'semnan' 'bahar-city' 'aleshtar' 'shahre-rey' 'norabad' 'mahshahr' 'ilam'
 'marivan' 'amol' 'zahedan' 'abhar' 'rezvanshahr' 'chalus' 'shahrud'
 'esfarayen' 'shahin-shahr' 'kahrizak' 'yazd' 'lavasan-city' 'eshtehard'
 'babol' 'sarein' 'bojnurd' 'dogonbadan' 'chenaran' 'foolad-shahr'
 'koohsar' 'najafabad' 'baghershahr' 'manjil' 'shushtar' 'dehloran'
 'khomam' 'sorkhrood' 'abadeh' 'mohammadieh' 'masjed-e-soleyman'
 'eqbaliyeh' 'Kordkuy' 'falavarjan' 'fasham-city' 'behbahan' 'quchan'
 'masal' 'Iranshahr' 'fereydunkenar' 'galikesh' 'mahmudabad' 'izadshahr'
 'garmsar' 'minab' 'kamyaran' 'fuman' 'qasemabad-khaf' 'bushehr'
 'kelarestan' 'torghabeh-city' 'kiashahr' 'khansar' 'khorramshahr'
 'asadabad' 'shahedshahr' 'dehdasht' 'torbat-heydariyeh' 'sarpol-zahab'
 'bandar-gaz' 'khoy' 'aliabad-katul' 'shush' 'khalkhal' 'jam' 'khomein'
 'damghan' 'kazeroon' 'alvand' 'azna' 'khomeyni-shahr' 'abyek' 'dehgolan'
 'bijar' 'boroujen' 'farrokhshahr' 'zabol' 'kouchesfahan'
 'bandar-Imam-khomeini' 'mohajeran' 'marvdasht-city' 'eslamabad-gharb'
 'tankaman' 'khan-bin' 'behshahr' 'siahkal' 'firuzkooh' 'koumeleh'
 'galougah-babol' 'aligudarz' 'lashtenesha' 'zarghan' 'bukan' 'kangavar'
 'astara' 'ziraab' 'jiroft' 'rostam-abad' 'takestan' 'qeshm'
 'aran-va-bidgol' 'jahrom' 'eyvan' 'meybod' 'shandiz-city' 'sangar'
 'javadabad' 'ashkhaneh' 'ardakan' 'zarand' 'mianeh' 'bandar-kangan'
 'marand' 'abdanan' 'khormoj' 'hachirud' 'sonqor' 'molkabad' 'shadeghan'
 'harsin' 'abrisham-isfahan' 'shaft' 'khorramdarreh' 'eqlid' 'kuhdasht'
 'nurabad' 'emamzadeh-abdollah' 'kelachay' 'baft' 'saqqez' 'dayyer'
 'taleqan' 'azadshahr-golestan' 'mohr' 'borazjan' 'shelman'
 'katalem-sadatshahr' 'saravan' 'meshgin-shahr' 'bandar-ganaveh' 'bam'
 'izeh' 'mahalat' 'shirgah' 'ramhormoz' 'ghorogh' 'kiakola' 'kalale'
 'chamestan' 'ahar' 'zargarshahr' 'shazand' 'bardaskan' 'dalkhani' 'lar'
 'germi' 'mahabad' 'zibakenar' 'hamidia' 'azarshahr' 'kahnooj' 'mobarakeh'
 'mahan' 'rafsanjan' 'ziyabar' 'baneh' 'namin' 'parsabad' 'aq-qala'
 'ghayen' 'pol-dokhtar' 'juybar']
neighborhood_slug ['andishehnewcity' 'farhang' 'fergaz' ... 'zeynabeiyeh' 'chaharfarize'
 'khatoonabad']
user_type ['مشاور املاک' 'شخصی']
building_size [7.800000e+01 1.690000e+02 9.300000e+01 1.150000e+02 1.100000e+02
 8.600000e+01 1.350000e+02 1.500000e+02 9.700000e+01 9.000000e+01
 1.070000e+02 7.000000e+01 5.500000e+01 5.000000e+01 1.600000e+02
 8.200000e+01 1.450000e+02 7.500000e+01 8.500000e+01 1.000000e+02
 2.500000e+02 6.000000e+01 1.240000e+02 9.500000e+01 9.800000e+01
 6.500000e+01 8.000000e+01 3.700000e+02 9.400000e+01 8.800000e+01
 1.520000e+02 4.000000e+01 1.370000e+02 6.300000e+01 1.550000e+02
 1.300000e+02 6.800000e+01 1.130000e+02 2.750000e+02 7.700000e+01
 1.200000e+02 1.800000e+02 1.020000e+02 8.300000e+01 1.700000e+02
 6.400000e+01 1.850000e+02 5.200000e+01 1.400000e+02 1.250000e+02
 1.280000e+02 3.300000e+02 2.000000e+02 4.300000e+02 5.900000e+01
 1.650000e+02 7.200000e+01 1.120000e+02 1.660000e+02 7.600000e+01
 4.500000e+01 7.400000e+01 1.180000e+02 1.090000e+02 1.320000e+02
 1.040000e+02 7.300000e+01 1.080000e+02 1.230000e+02 1.050000e+02
 1.060000e+02 1.290000e+02 1.540000e+02 5.800000e+01 7.100000e+01
 9.200000e+01 1.170000e+02 6.600000e+01 1.260000e+02 1.030000e+02
 1.340000e+02 5.600000e+01 1.900000e+02 1.360000e+02 4.200000e+01
 1.530000e+02 1.750000e+02 4.400000e+01 1.460000e+02 2.030000e+02
 1.480000e+02 4.800000e+01 1.010000e+02 3.230000e+02 8.700000e+01
 5.400000e+01 1.430000e+02 1.420000e+02 6.100000e+01 1.140000e+02
 1.330000e+02 4.300000e+01 3.500000e+01 1.310000e+02 1.410000e+02
 3.750000e+02 4.700000e+01 1.380000e+02 8.900000e+01 1.620000e+02
 6.900000e+01 9.600000e+01 6.200000e+01 5.300000e+01 1.560000e+02
 5.700000e+01 1.630000e+02 1.160000e+02 1.440000e+02 1.860000e+02
 7.900000e+01 1.210000e+02 5.100000e+01 6.700000e+01 2.180000e+02
 9.100000e+01 8.100000e+01 3.800000e+01 1.470000e+02 1.680000e+02
 1.190000e+02 4.500000e+02 3.200000e+02 4.900000e+01 1.450000e+03
 1.270000e+02 1.110000e+02 4.170000e+02 1.570000e+02 3.850000e+02
 2.010000e+02 1.640000e+02 8.400000e+01 2.200000e+02 1.610000e+02
 2.140000e+02 1.730000e+02 2.400000e+02 3.150000e+02 1.560000e+03
 2.900000e+02 1.220000e+02 1.760000e+02 2.980000e+02 4.000000e+02
 3.900000e+01 2.100000e+02 3.600000e+01 2.300000e+02 2.250000e+02
 3.000000e+02 1.500000e+01 3.900000e+02 7.700000e+02 1.920000e+02
 4.100000e+01 2.130000e+02 4.600000e+01 1.980000e+02 9.900000e+01
 2.800000e+02 3.700000e+01 1.000000e+03 1.300000e+05 1.830000e+02
 2.050000e+02 2.460000e+02 2.650000e+02 1.880000e+02 1.950000e+02
 1.580000e+02 2.430000e+02 2.450000e+02 3.000000e+01 3.800000e+02
 1.390000e+02 2.000000e+01 3.300000e+01 2.120000e+02 2.860000e+02
 2.600000e+02 1.720000e+02 1.510000e+02 6.200000e+02 1.770000e+02
 1.790000e+02 2.700000e+02 3.400000e+01 2.350000e+02 1.670000e+02
 1.870000e+02 2.150000e+02 1.780000e+02 3.600000e+02 1.820000e+02
 1.890000e+02 1.000000e+00 5.300000e+02 1.490000e+02 1.940000e+02
 2.210000e+02 1.960000e+02 3.400000e+02 2.310000e+02 5.102900e+04
 3.534000e+03 2.260000e+02 4.600000e+02 2.680000e+02 2.070000e+02
 2.900000e+01 2.080000e+02 3.500000e+02 2.530000e+02 3.070000e+02
 1.350000e+05 1.710000e+02 7.500000e+04 1.970000e+02 3.550000e+02
 1.740000e+02 2.400000e+03 2.850000e+02 2.190000e+02 3.050000e+02
 4.800000e+02 8.000000e+02 3.100000e+02 3.910000e+02 3.100000e+01
 4.010000e+02 4.200000e+02 8.850000e+02 5.000000e+02 1.590000e+02
 2.740000e+02 2.410000e+02 2.500000e+01 1.350000e+03 1.500000e+05
 2.950000e+02 2.380000e+02 2.480000e+02 3.570000e+02 2.920000e+02
 3.350000e+02 2.880000e+02 2.550000e+02 1.000000e+07 2.040000e+02
 1.910000e+02 2.020000e+02 1.200000e+01 2.060000e+02 2.470000e+02
 9.890000e+02 2.930000e+02 5.200000e+02 1.100000e+05 2.090000e+02
 2.100000e+01 1.810000e+02 2.320000e+02 6.500000e+02 2.160000e+02
 8.300000e+02 2.170000e+02 5.800000e+02 1.171370e+05 9.300000e+02
 2.420000e+02 9.000000e+02 3.420000e+02 4.900000e+02 5.550000e+02
 3.330000e+02 3.170000e+02 1.023000e+03 9.500000e+02 1.990000e+02
 3.250000e+02 1.020000e+05 1.435000e+03 2.370000e+02 6.030000e+02
 1.840000e+02 6.000000e+04 2.800000e+01 1.120000e+03 4.140000e+02
 5.600000e+02 1.259000e+03 1.050000e+03 1.200000e+03 3.782000e+03
 1.930000e+02 2.760000e+02 7.000000e+04 2.390000e+02 4.100000e+02
 7.703200e+04 2.360000e+02 2.700000e+01 8.000000e+00 1.700000e+05
 2.110000e+02 1.113300e+04 4.880000e+02 2.560000e+02 6.000000e+02
 2.230000e+02 2.220000e+02 2.340000e+02 6.300000e+02 3.200000e+01
 2.330000e+02 2.780000e+02 2.870000e+02 2.440000e+02 5.500000e+02
 4.710000e+02 2.840000e+02 4.700000e+02 1.720000e+05 3.130000e+02
 3.180000e+02 1.111110e+05 1.000000e+01 6.400000e+02 2.710000e+02
 2.520000e+02 2.240000e+02 1.000000e+05 7.750000e+02 8.450000e+02
 5.650000e+02 2.270000e+02 2.290000e+02 7.000000e+02 3.110000e+02
 9.810400e+04 3.650000e+02 2.580000e+02 2.940000e+02 1.250000e+05
 4.550000e+02 9.000000e+04 6.920000e+02 3.240000e+02 1.800000e+01
 4.250000e+02 4.500000e+03 5.400000e+02 1.600000e+03 9.000000e+00
 1.200000e+05 5.700000e+02 5.000000e+00 2.830000e+02 5.100000e+02
 4.110000e+02 5.460000e+02 3.120000e+02 3.030000e+02 3.370000e+02
 2.000000e+05 8.100000e+02 3.560000e+03 9.100000e+02 2.620000e+02
 1.234000e+03 3.450000e+02 8.700000e+02 3.480000e+02 8.800000e+02
 4.220000e+02 9.210000e+02 3.000000e+05 3.610000e+02 3.930000e+02
 6.740000e+04 1.111000e+03 4.400000e+02 2.200000e+03 1.111100e+04
 2.300000e+01 8.470000e+04 1.111111e+06 2.540000e+02 2.820000e+02
 2.000000e+03 2.630000e+02 3.200000e+03 2.670000e+02 1.100000e+03
 9.630000e+02 1.500000e+03 2.810000e+02 3.320000e+02 6.000000e+00
 2.400000e+01 3.520000e+02 7.500000e+02 4.310000e+02 3.730000e+02
 8.300000e+04 4.000000e+04 3.920000e+02 3.220000e+02 1.020000e+06
 3.260000e+02 1.400000e+01 2.660000e+02 5.440000e+02 5.080000e+02
 6.500000e+04 2.600000e+01 3.380000e+02 4.000000e+00 2.200000e+01
 1.075000e+03 8.400000e+02 5.000000e+04 8.500000e+02 5.680000e+02
 2.570000e+02 2.720000e+02 1.000000e+04 6.350000e+02 1.105700e+04
 2.690000e+02 1.900000e+01 3.210000e+02 2.610000e+02 2.280000e+02
 2.960000e+02 5.350000e+02 1.700000e+03 3.040000e+02 3.470000e+02
 1.550500e+05 2.770000e+02 3.430000e+02 9.500000e+04 2.510000e+02
 6.270000e+02 2.790000e+02 4.260000e+02 4.020000e+02 7.667000e+03
 3.080000e+02 4.350000e+02 3.160000e+02 9.600000e+02 3.660000e+02
 3.390000e+02 3.835000e+03 2.490000e+02 3.090000e+02 3.000000e+00
 9.999999e+06 2.640000e+02 8.000000e+04 1.150000e+03 4.750000e+02
 3.560000e+02 6.262000e+03 5.750000e+02 2.100000e+04 2.730000e+02
 6.536600e+04 7.570000e+02 8.200000e+02 4.450000e+02 4.770000e+02
 4.730000e+02 7.300000e+02 7.758700e+04 3.010000e+02 6.037000e+03
 3.020000e+02 4.470000e+02 6.600000e+02 7.520000e+02 9.040000e+02
 1.300000e+03 2.910000e+02]
floor [ 4.  2.  0.  1.  3.  5.  7.  6.  8. 11. 10. 13. -1. 14. 20. 12. 16. 23.
  9. 24. 18. 21. 17. 15. 30. 19. 25. 26. 27. 22. 29. 28.]
rooms_count [2. 3. 1. 5. 0. 4.]
total_floors_count [ 6.  3.  4.  5.  7.  2.  8. 12. 11. 17.  9. 18. 16. 15. 14. 13. 10. 20.
 24. 25. 29. 30. 19. 21. 22. 23. 28. 27. 26.]
unit_per_floor [4. 1. 2. 3. 8. 6. 5. 7. 9.]
has_balcony [ True False]
has_elevator [ True False]
has_warehouse [ True False]
has_parking [ True False]
is_rebuilt [ True False]
has_restroom ['squat' 'squat_seat' 'seat']
building_direction ['north' 'south' 'east' 'west']
has_pool [False  True]
has_jacuzzi [False]
has_sauna [False]
flag ['price' 'rent' 'credit']
value [6.500e+08 1.299e+10 2.700e+09 ... 1.824e+10 3.575e+10 9.711e+09]
age [ 8.  1. 12.  6. 10.  4. 21.  3. 11.  5. 15.  2. 14.  7.  9. 13. 19. 20.
 17. 18. 24. 16. 26. 22. 33. 23. 34. 28. 29. 27. 32. 25. 31. 30.]

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 171996 entries, 10 to 767721
Data columns (total 23 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   cat2_slug           171996 non-null  object
 1   cat3_slug           171996 non-null  object
 2   city_slug           171996 non-null  object
 3   neighborhood_slug   171996 non-null  object
 4   user_type           171996 non-null  object
 5   building_size       171996 non-null  float64
 6   floor               171996 non-null  float64
 7   rooms_count         171996 non-null  float64
 8   total_floors_count  171996 non-null  float64
 9   unit_per_floor      171996 non-null  float64
 10  has_balcony         171996 non-null  bool
 11  has_elevator        171996 non-null  bool
 12  has_warehouse       171996 non-null  bool
 13  has_parking         171996 non-null  bool
 14  is_rebuilt          171996 non-null  bool
 15  has_restroom        171996 non-null  object
 16  building_direction  171996 non-null  object
 17  has_pool            171996 non-null  bool
 18  has_jacuzzi         171996 non-null  bool
 19  has_sauna           171996 non-null  bool
 20  flag                171996 non-null  object
 21  value               171996 non-null  float64
 22  age                 171996 non-null  float64
dtypes: bool(8), float64(7), object(8)
memory usage: 22.3+ MB

## Ordinal Encoding

In [49]:
cat_cols = ['flag', 'has_restroom','is_rebuilt','user_type','neighborhood_slug','city_slug','cat3_slug','cat2_slug','building_direction']

In [50]:
encoder = OrdinalEncoder()

In [51]:
df[cat_cols] = encoder.fit_transform(df[cat_cols])

In [52]:
mappings = {}
for i, col in enumerate(cat_cols):
    mappings[col] = dict(zip(encoder.categories_[i], range(len(encoder.categories_[i]))))

In [53]:
mappings

{'flag': {'credit': 0, 'price': 1, 'rent': 2},
 'has_restroom': {'seat': 0, 'squat': 1, 'squat_seat': 2},
 'is_rebuilt': {np.False_: 0, np.True_: 1},
 'user_type': {'شخصی': 0, 'مشاور املاک': 1},
 'neighborhood_slug': {'10-day': 0,
  '15khordad': 1,
  '17shahrivar': 2,
  '24-metri': 3,
  '350-metri': 4,
  'Baraghan': 5,
  'Kuy-e-Seyyedi': 6,
  'Salarieh': 7,
  'Shahrak-e-Shirin': 8,
  'Shahrak-e-Taleqani': 9,
  'abbas-abad': 10,
  'abbas-abad-mashhad': 11,
  'abbasabad': 12,
  'abdol-abad': 13,
  'abdollah-abad': 14,
  'abdolmotalleb': 15,
  'abiverdi': 16,
  'abjavar': 17,
  'abkuh': 18,
  'aboozar': 19,
  'aboutaleb': 20,
  'abouzar': 21,
  'abouzar-mashhad': 22,
  'abr': 23,
  'abrisham': 24,
  'abshar': 25,
  'abshar-isfahan': 26,
  'abshar-tehran': 27,
  'abunasr': 28,
  'abyari': 29,
  'adlekhomeinisquare': 30,
  'afaran': 31,
  'afifabad': 32,
  'afsariyeh': 33,
  'aghdasieh': 34,
  'ahadabad': 35,
  'ahang': 36,
  'ahmad-abad': 37,
  'ahmad-abad-isfahan': 38,
  'ahmadabad': 39,
  'ahmadi': 40,
  'aineh-khaneh': 41,
  'ajoodanieh': 42,
  'akbarabad': 43,
  'akhgarabad': 44,
  'akhtarabad': 45,
  'ali-abad': 46,
  'almahdi': 47,
  'amaniyeh': 48,
  'amaniyeh-ahvaz': 49,
  'amel': 50,
  'amin': 51,
  'amin-zarb': 52,
  'aminhozour': 53,
  'amir-abad': 54,
  'amir-bahador': 55,
  'amiriyeh': 56,
  'amiriyeh-isfahan': 57,
  'amiriyeh-mashhad': 58,
  'amirkabirblvd': 59,
  'ammareyaser': 60,
  'andisheh': 61,
  'andishehnewcity': 62,
  'ansar': 63,
  'ansar-alhosein': 64,
  'ansar-mashhad': 65,
  'ansari': 66,
  'aq-tappeh': 67,
  'aqiq': 68,
  'araj': 69,
  'aramaneh': 70,
  'ararat': 71,
  'ardaji': 72,
  'aref': 73,
  'arghavanieh': 74,
  'arian-town': 75,
  'ariyashahr': 76,
  'arjantin': 77,
  'arvand': 78,
  'asadabad-karaj': 79,
  'aseman': 80,
  'aseman-town': 81,
  'asgariyeh': 82,
  'asgariyeh-isfahan': 83,
  'ashegh-abad': 84,
  'ashtiyani': 85,
  'atabak': 86,
  'atlasi': 87,
  'attaran': 88,
  'ayatollah-ebadi': 89,
  'ayatollah-khamenei': 90,
  'azad-shahr': 91,
  'azadan': 92,
  'azadegan': 93,
  'azadegan-isfahan': 94,
  'azadegan-qom': 95,
  'azadi-sport-complex': 96,
  'azadisq': 97,
  'azadshahr': 98,
  'azar': 99,
  'azar-isfahan': 100,
  'azarbaijan': 101,
  'azari': 102,
  'azimieh': 103,
  'babukan': 104,
  'bagh-daryacheh': 105,
  'bagh-e-takht': 106,
  'bagh-fadak': 107,
  'bagh-ferdows': 108,
  'bagh-ferdows-isfahan': 109,
  'bagh-feyz': 110,
  'bagh-ghadir': 111,
  'bagh-khazaneh': 112,
  'bagh-negar': 113,
  'bagh-zereshk': 114,
  'bagh-ziar': 115,
  'baghestan': 116,
  'baghoush-khaneh': 117,
  'bahar': 118,
  'bahar-azadi': 119,
  'bahar-karaj': 120,
  'baharan': 121,
  'baharan-isfahan': 122,
  'baharan-mashhad': 123,
  'baharestan': 124,
  'baharestan-ahvaz': 125,
  'baharestan-esfahan': 126,
  'baharestan-industrial-town': 127,
  'baharestan-mashhad': 128,
  'bahman': 129,
  'bahman-yar': 130,
  'bahonar': 131,
  'bahonar-mashhad': 132,
  'bahram-abad': 133,
  'bajak': 134,
  'bala-kaft': 135,
  'balal': 136,
  'banafsheh': 137,
  'banihashemi': 138,
  'baq-e-azari': 139,
  'baqerkhan': 140,
  'barazandeh': 141,
  'barbari-terminal': 142,
  'barqsquare': 143,
  'batoun': 144,
  'bazaar': 145,
  'bazougah': 146,
  'bazzar': 147,
  'behdasht': 148,
  'beheshti': 149,
  'beheshti-mashhad': 150,
  'behjat-abad': 151,
  'berelian': 152,
  'berijestoon': 153,
  'beryanak': 154,
  'besat': 155,
  'beshman': 156,
  'bezin-town': 157,
  'bidabad': 158,
  'bishe-habib': 159,
  'bisim': 160,
  'bisim-isfahan': 161,
  'bolursazi': 162,
  'bolvar-e-keshavarz': 163,
  'bolvartoos': 164,
  'bonakdaran': 165,
  'bonyad': 166,
  'bousaar': 167,
  'bozorgmehr': 168,
  'buzan': 169,
  'camplojonoobi': 170,
  'camploshomali': 171,
  'cantex': 172,
  'central-janat-abad': 173,
  'chaharbaghkhajoo': 174,
  'chaharfarize': 175,
  'chaharsad-dastgah-karaj': 176,
  'chahnou': 177,
  'chaman': 178,
  'charbagh': 179,
  'charkhab': 180,
  'charrah-golsaar': 181,
  'charsad-dastgah': 182,
  'cheleh-khaneh': 183,
  'chencheneh': 184,
  'chitgar': 185,
  'chitgar-lake': 186,
  'chizar': 187,
  'chogha': 188,
  'chogiah': 189,
  'chomaar-saraa': 190,
  'dabbagh-khaneh': 191,
  'dabestan': 192,
  'daghagheleh': 193,
  'danesh': 194,
  'daneshjoo': 195,
  'danial': 196,
  'darabad': 197,
  'darakeh': 198,
  'darb-dowom': 199,
  'darb-e-sibeh': 200,
  'darband': 201,
  'dardasht': 202,
  'darrous': 203,
  'darvazeh-isfahan': 204,
  'darvazeh-kazeroon': 205,
  'darvazeh-lakan': 206,
  'darvazeh-shemiran': 207,
  'darya': 208,
  'daryan-no': 209,
  'dasht-chenaran': 210,
  'dashtestan': 211,
  'dastgerd': 212,
  'dastgerd-e-qadaadeh': 213,
  'dastgerdeh': 214,
  'dehghanvilla': 215,
  'dehkade-olympic': 216,
  'dehnavi': 217,
  'dehno': 218,
  'dehqan': 219,
  'denart': 220,
  'derakhti': 221,
  'derki': 222,
  'deylaman-rasht': 223,
  'dezashib': 224,
  'dinakan': 225,
  'diyanati': 226,
  'dokuhak': 227,
  'dolat-abad': 228,
  'dolat-abad-isfahan': 229,
  'dolatkhah': 230,
  'doolab': 231,
  'dorcheh': 232,
  'doteflan': 233,
  'dourshahr': 234,
  'dowlatabad-karaj': 235,
  'dowran': 236,
  'dozak': 237,
  'dr-hoshyar': 238,
  'east-saleh-abad': 239,
  'east-shareq': 240,
  'east-tehranpars': 241,
  'eastgaz': 242,
  'eastghoddusi': 243,
  'ebn-babevayh': 244,
  'ebrahim-abad': 245,
  'edalatblvd': 246,
  'eidgah': 247,
  'eivanak': 248,
  'ekbatan': 249,
  'ekhtiyariyeh': 250,
  'elahiyeh': 251,
  'elahiyehblvd': 252,
  'elm-o-sanat': 253,
  'elyderan': 254,
  'emam': 255,
  'emam-hosein': 256,
  'emam-hossein': 257,
  'emam-jafar-sadegh-town': 258,
  'emamkhomeini': 259,
  'emamreza': 260,
  'emamzade-ghasem': 261,
  'emamzadehebrahim': 262,
  'enqelab': 263,
  'enqelab-ghom': 264,
  'enqelab-mashhad': 265,
  'ensejam': 266,
  'eqbal': 267,
  'eram': 268,
  'eram-shiraz': 269,
  'ershad': 270,
  'esfahaniha': 271,
  'esfandyari': 272,
  'eshragh': 273,
  'eshrat-abad': 274,
  'eskandari': 275,
  'eslahnejad': 276,
  'eslam-abad': 277,
  'eslamabad': 278,
  'esmaeil-abad': 279,
  'estakhr': 280,
  'esteghamat': 281,
  'etehad': 282,
  'ettehad': 283,
  'evin': 284,
  'eynak': 285,
  'fadak': 286,
  'fadak-mashhad': 287,
  'falakehzed': 288,
  'fallah': 289,
  'farah-abad': 290,
  'farahzad': 291,
  'faramarzabbasi': 292,
  'fardovan': 293,
  'fareqoltahsilan': 294,
  'farhang': 295,
  'farhang-isfahan': 296,
  'farhangian': 297,
  'farhangian-isfahan': 298,
  'farhangian-shiraz': 299,
  'farhangshahr': 300,
  'farhangshahr-ahvaz': 301,
  'farmaniyeh': 302,
  'farvardin': 303,
  'farzanegan': 304,
  'fatemiye': 305,
  'fath-abad': 306,
  'faxab': 307,
  'fazilatblvd': 308,
  'fazl-abad': 309,
  'felestin': 310,
  'ferdos': 311,
  'ferdowsi': 312,
  'ferdowsi-university-of-mashhad': 313,
  'fergaz': 314,
  'firoozabadi': 315,
  'fooladshahr-ahvaz': 316,
  'gaaz': 317,
  'gabr-abad': 318,
  'gandi': 319,
  'gavart': 320,
  'gaz': 321,
  'ghaemiyeh': 322,
  'ghale-no': 323,
  'ghale-nou': 324,
  'ghale-tabre': 325,
  'ghaleh-ghebleh': 326,
  'ghaleh-shahzadeh-bagom': 327,
  'ghanat-kosar': 328,
  'ghasemabad': 329,
  'ghasemiyeh': 330,
  'gholhak': 331,
  'gholipour': 332,
  'ghoochan': 333,
  'gil': 334,
  'gilan-blvd': 335,
  'gisha': 336,
  'gohardasht': 337,
  'goharshad': 338,
  'golab-dareh': 339,
  'golbagh-namaz': 340,
  'golbahar-isfahan': 341,
  'golchin': 342,
  'goldasht': 343,
  'goldasht-moaliabad': 344,
  'goldasht-mohammadi': 345,
  'goldasht-shiraz': 346,
  'goldashthafez': 347,
  'golestan': 348,
  'golestan-ahvaz': 349,
  'golestan-isfahan': 350,
  'golestan-karaj': 351,
  'golestan-lahijan': 352,
  'golha': 353,
  'golkoub': 354,
  'golmohammadi': 355,
  'golsaar': 356,
  'golshahr': 357,
  'golshahrvila': 358,
  'golshan': 359,
  'golshour': 360,
  'golzar': 361,
  'golzar-isfahan': 362,
  'golzaran': 363,
  'gomrok': 364,
  'gouyom': 365,
  'gurtan': 366,
  'haaji-abad': 367,
  'hafez-abad': 368,
  'hafezie': 369,
  'hafeziyeh': 370,
  'haft-hoz': 371,
  'haft-tanan': 372,
  'haftchenar': 373,
  'haftetir': 374,
  'haftetir-ghom': 375,
  'haftetir-karaj': 376,
  'haftoon': 377,
  'hakimiyeh': 378,
  'hamedaniyan': 379,
  'hamidiyan': 380,
  'hamzeh-abad': 381,
  'haram': 382,
  'hasan-abad-baqer-far': 383,
  'hasan-abad-shomali': 384,
  'hashem-abad': 385,
  'hashemi': 386,
  'hashemieh': 387,
  'hashtbehesht': 388,
  'hashtpar': 389,
  'hasirabad': 390,
  'hassan-abad': 391,
  'havanirooz': 392,
  'hekmat': 393,
  'hemat-abad': 394,
  'heravi': 395,
  'hesar-booali': 396,
  'hesarak': 397,
  'heshamatiyeh': 398,
  'hesseh': 399,
  'hezarsang': 400,
  'hojat-abad': 401,
  'hojjat': 402,
  'holyshrine': 403,
  'honarestan': 404,
  'honarestan-ghom': 405,
  'hor-square': 406,
  'hosein-abad': 407,
  'hoseinabad': 408,
  'hoseynabad': 409,
  'hossein-abad': 410,
  'hosseinabad': 411,
  'hoveyzeh': 412,
  'hyderabad': 413,
  'imam-sajjad': 414,
  'imamzadeh-hasan': 415,
  'iman': 416,
  'iranshahr': 417,
  'isar': 418,
  'isargaran': 419,
  'isfahan-university-of-technology': 420,
  'ivan': 421,
  'jaber-ansari': 422,
  'jaberi': 423,
  'jahad': 424,
  'jahan-nama': 425,
  'jahanshahr': 426,
  'jahedshahr': 427,
  'jalili': 428,
  'jamalzadeh': 429,
  'jamaran': 430,
  'jamaran-rasht': 431,
  'jamaran-shiraz': 432,
  'janbaz': 433,
  'janbazan': 434,
  'janiran': 435,
  'jannat': 436,
  'jarvakan': 437,
  'javadiyeh': 438,
  'javadiyeh-shiraz': 439,
  'javadiyeh-tehran-pars': 440,
  'javan-e-bala': 441,
  'javan-e-paein': 442,
  'javanmard-e-ghasab': 443,
  'jelvan': 444,
  'jey': 445,
  'jey-Shir': 446,
  'jeyhoun': 447,
  'jihad': 448,
  'jolfa': 449,
  'jomhoori': 450,
  'jomhouri': 451,
  'jomhouriblvd': 452,
  'jordan': 453,
  'joubareh': 454,
  'jowzdan': 455,
  'kaftarak': 456,
  'kaktus': 457,
  'kalak': 458,
  'kalak-no': 459,
  'kalhori': 460,
  'kalman': 461,
  'kamalshahr': 462,
  'kamraniyeh': 463,
  'kan': 464,
  'kangaz': 465,
  'karaj-no': 466,
  'karandish': 467,
  'karevan': 468,
  'karim-abad': 469,
  'karmandan-e-aval': 470,
  'karmandan-e-dovom': 471,
  'kashanak': 472,
  'kashani': 473,
  'kashmar': 474,
  'kazem-abad': 475,
  'kelivar': 476,
  'kerdabad': 477,
  'kesare': 478,
  'keshavarzi': 479,
  'keshavaz': 480,
  'keyvanfar': 481,
  'khaje-nezam-molk': 482,
  'khaje-rabi': 483,
  'khak-sefid': 484,
  'khalaja': 485,
  'khalij-e-fars': 486,
  'khalili': 487,
  'khaneesfahan': 488,
  'khani-abad': 489,
  'khani-abad-no': 490,
  'khatoonabad': 491,
  'khavaran': 492,
  'khazaneh': 493,
  'khiadan': 494,
  'kholbarin': 495,
  'khomeinishahr': 496,
  'khoram': 497,
  'khorramdasht': 498,
  'kian': 499,
  'kian-shahr-shiraz': 500,
  'kianabad': 501,
  'kianmehr': 502,
  'kianpars': 503,
  'kianshahr': 504,
  'kojan': 505,
  'kolahdouz': 506,
  'kolbeh': 507,
  'koohsangi': 508,
  'koorosh': 509,
  'kooy-e-bimeh': 510,
  'kooy-e-ferdos': 511,
  'kooy-e-modarres': 512,
  'kooye-e-hefdahom-e-shahrivar': 513,
  'kooyealavi': 514,
  'kooyenaft': 515,
  'kooyramezan': 516,
  'koozehgari': 517,
  'kosar': 518,
  'koshkek': 519,
  'kouleh-parcheh': 520,
  'koushesh': 521,
  'kouye-hoseini': 522,
  'kuhak': 523,
  'kut-abdollah': 524,
  'kuy-bahar': 525,
  'kuy-bayani': 526,
  'kuy-e-agha-mostafa-khomeini': 527,
  'kuy-e-amiralmomenin': 528,
  'kuy-e-amiralmonmenin': 529,
  'kuy-e-azadegan': 530,
  'kuy-e-bala-khiaban': 531,
  'kuy-e-daravey': 532,
  'kuy-e-karagaran': 533,
  'kuy-e-khazar': 534,
  'kuy-e-kowsar': 535,
  'kuy-e-mahdi': 536,
  'kuy-e-nane-razavi': 537,
  'kuy-e-paein-khiaban': 538,
  'kuy-e-panj-tan': 539,
  'kuy-e-police': 540,
  'kuy-e-raddeh': 541,
  'kuy-e-sarafrazan': 542,
  'kuy-emam': 543,
  'kuy-emamiyeh': 544,
  'kuy-faraz': 545,
  'kuy-farhang': 546,
  'kuy-farhangian-karaj': 547,
  'kuy-farhangian-shiraz': 548,
  'kuy-ghozat': 549,
  'kuy-golzar': 550,
  'kuy-mehr': 551,
  'kuy-mehr-rasht': 552,
  'kuy-modarres-karaj': 553,
  'kuy-nobonyad': 554,
  'kuy-qlam-niya': 555,
  'kuy-shahid-keshvari': 556,
  'kuy-tollab': 557,
  'kuy-valiasr': 558,
  'kuy-yas': 559,
  'kuy-zanbaq': 560,
  'kuyezahra': 561,
  'ladan-isfahan': 562,
  'lakan': 563,
  'lakani': 564,
  'lale': 565,
  'laleh': 566,
  'lashkarabad': 567,
  'lashkari': 568,
  'lavizan': 569,
  'layalestan': 570,
  'lemjir': 571,
  'lil': 572,
  'lonban': 573,
  'maaloolin': 574,
  'mah-firouzan': 575,
  'mahale-now': 576,
  'mahaleh-sofla': 577,
  'mahdi-abad': 578,
  'mahdiabad': 579,
  'mahdis': 580,
  'mahdiyeh': 581,
  'mahmodabad': 582,
  'mahmoodiyeh': 583,
  'mahmoodiyeh-isfahan': 584,
  'mahmoudieh': 585,
  'mahmud-abad': 586,
  'majd': 587,
  'majid-abad': 588,
  'majidiyeh': 589,
  'makhsous': 590,
  'malard': 591,
  'malek': 592,
  'malek-abad': 593,
  'malek-abad-garden': 594,
  'malekabad-karaj': 595,
  'malekshahr': 596,
  'mansouriyeh': 597,
  'manzarieh': 598,
  'manzariyeh': 599,
  'maqar': 600,
  'marchin': 601,
  'mardavich': 602,
  'marlik': 603,
  'marnan': 604,
  'marzdaran': 605,
  'mashhad-international-exhibition': 606,
  'masoudieh': 607,
  'mehr-abad': 608,
  'mehrab': 609,
  'mehrabad': 610,
  'mehrabad-airport': 611,
  'mehregan': 612,
  'mehrshahr': 613,
  'mehrshahr-2': 614,
  'mehrshahr-3': 615,
  'mehrshahr-5': 616,
  'mehrshar-1': 617,
  'mehrvilla': 618,
  'mellirah': 619,
  'mesbah': 620,
  'meshkindasht': 621,
  'mianrood': 622,
  'mina': 623,
  'minabi': 624,
  'mirdamad': 625,
  'miremad': 626,
  'moalem': 627,
  'moaliabad': 628,
  'mobarak-abad-e-beheshti': 629,
  'mobarake': 630,
  'modarres': 631,
  'modarres-isfahan': 632,
  'modarresblvd': 633,
  'moeinzadeh': 634,
  'mofateh': 635,
  'mofatteh': 636,
  'mohammad-taher': 637,
  'mohammadabad': 638,
  'mohammadiyeh-shiraz': 639,
  'molavi': 640,
  'mollasadra': 641,
  'monarjonban': 642,
  'moniriyeh': 643,
  'moqadam': 644,
  'moqadam-mashhad': 645,
  'morad-abad': 646,
  'mosalla': 647,
  'moshiriyeh': 648,
  'moshtaghsevvom': 649,
  'moslem': 650,
  'motahari': 651,
  'motahharitown': 652,
  'mousavighoochani': 653,
  'nabi-akram': 654,
  'nabovvat': 655,
  'naderi': 656,
  'naqshe-jahan': 657,
  'narenjestan': 658,
  'narmak': 659,
  'naser-khosro': 660,
  'nasr-abad-isfahan': 661,
  'navaab': 662,
  'naxodchar': 663,
  'nazari': 664,
  'nazband': 665,
  'nazhvan': 666,
  'nazi-abad': 667,
  'negarestan': 668,
  'nejatollahi': 669,
  'nemat-abad': 670,
  'neshat-shiraz': 671,
  'newsite': 672,
  'neyzeh': 673,
  'nezam-abad': 674,
  'niavaran': 675,
  'niayesh': 676,
  'nikmaraam': 677,
  'niloufar': 678,
  'niroo-daryaee': 679,
  'niroo-havayi': 680,
  'nofellowshatow': 681,
  'noghan': 682,
  'north-janat-abad': 683,
  'north-karegar': 684,
  'north-kuy-karmandan': 685,
  'north-shahid-mottahari': 686,
  'north-shahrak-golestan': 687,
  'north-shahran': 688,
  'north-sohrevardi': 689,
  'north-tabars': 690,
  'nosrat': 691,
  'nourbaran': 692,
  'oghaf': 693,
  'oman-samani': 694,
  'onsori': 695,
  'ostad-moein': 696,
  'ostad-saraa': 697,
  'owjtown': 698,
  'ozgol': 699,
  'pa-ghalea': 700,
  'padad-phase-2': 701,
  'padadshahr': 702,
  'padadshahr-phase-1': 703,
  'paeen-darvazeh': 704,
  'pamenar': 705,
  'panj-tan-al-e-abba': 706,
  'parastar': 707,
  'pardis-ahvaz': 708,
  'pardis-bandar-e-anzali': 709,
  'pardis-mashhad': 710,
  'pardis-of-eram': 711,
  'pardis-town': 712,
  'pardisan-ghom': 713,
  'park-e-shahr': 714,
  'partman': 715,
  'parvaz': 716,
  'parvaztown': 717,
  'parvin-etesami': 718,
  'pasdaran': 719,
  'pasdaran-bandar-e-anzali': 720,
  'payamenoor': 721,
  'pdonak': 722,
  'pinart': 723,
  'pir-kola-chay': 724,
  'piroozi': 725,
  'pirouzi': 726,
  'pirsaraa': 727,
  'pishahangi': 728,
  'pol-e-aragh': 729,
  'pol-taleshan': 730,
  'police': 731,
  'poonak': 732,
  'postak': 733,
  'poursina': 734,
  'pozveh': 735,
  'qalamestan': 736,
  'qasemabad': 737,
  'qasr-e-firooze-do': 738,
  'qasr-e-firoozeh-yek': 739,
  'qasrdasht': 740,
  'qasre-qomsheh': 741,
  'qeytariyeh': 742,
  'qezel-qaleh': 743,
  'qiam': 744,
  'qiamdash': 745,
  'qiyam': 746,
  'qoba': 747,
  'qods': 748,
  'raazi': 749,
  'raazi-town': 750,
  'radan': 751,
  'rahahan': 752,
  'rahim-abad': 753,
  'rahmat-abad': 754,
  'rahmatblvd': 755,
  'rahnamaei': 756,
  'rajababad': 757,
  'rajaee': 758,
  'raran': 759,
  'rasht-azadegan': 760,
  'rasht-bazaar': 761,
  'rasht-emam-hossein': 762,
  'rasht-felestin': 763,
  'rasht-motahari': 764,
  'rasht-poursina': 765,
  'rasht-rashtian': 766,
  'rasht-resalat': 767,
  'razmandegan': 768,
  'rehnan': 769,
  'resalat': 770,
  'resalat-isfahan': 771,
  'resalat-mashhad': 772,
  'rezaieyeh': 773,
  'rezashahr': 774,
  'rezvan': 775,
  'rishmak': 776,
  'robat-e-Toroq': 777,
  'roknodowleh': 778,
  'roshan-dasht': 779,
  'roudbari': 780,
  'rudbartan': 781,
  'saadat-abad': 782,
  'saadat-abad-isfahan': 783,
  'saadi': 784,
  'saadiyeh': 785,
  'saam': 786,
  'sabalan': 787,
  'sad-dastgah': 788,
  'sadaf': 789,
  'sadaf-isfahan': 790,
  'saddastgah': 791,
  'sadeghiyeh': 792,
  'sadi': 793,
  'sadicinema': 794,
  'sadjadshahr': 795,
  'saeed-abad': 796,
  'safaeieh': 797,
  'safaiye': 798,
  'safari': 799,
  'safashahr': 800,
  'saghari-sazaan': 801,
  'saheb-al-zaman': 802,
  'saheb-al-zaman-shiraz': 803,
  'sahl-abad': 804,
  'sait-edari': 805,
  'sajadieh': 806,
  'sajjadieh': 807,
  'sajjadieh-isfahan': 808,
  'salam': 809,
  'salamat': 810,
  'saman': 811,
  'samandehi': 812,
  'samarghand': 813,
  'samen': 814,
  'sanabad': 815,
  'sanglaj': 816,
  'sar-asiyab-mehr-abad': 817,
  'sarasiab-doolab': 818,
  'sarsabil': 819,
  'sarsabz': 820,
  'sartakht': 821,
  'sassani': 822,
  'sattar': 823,
  'sattari': 824,
  'sattarkhan': 825,
  'sattarkhan-shiraz': 826,
  'sayyadshirazi': 827,
  'sazamn-barnameh': 828,
  'sazman-ab': 829,
  'sepad': 830,
  'sepahan-lane': 831,
  'sepahanshahr': 832,
  'sepehr': 833,
  'sepidar': 834,
  'seraj': 835,
  'seyed-khandan': 836,
  'shabanabad': 837,
  'shabiri': 838,
  'shadabad': 839,
  'shadman': 840,
  'shafa': 841,
  'shafagh': 842,
  'shah-gholi-beigi': 843,
  'shahadat': 844,
  'shaharak-e-esteqlal': 845,
  'shaharak-e-moslemin': 846,
  'shaharak-e-sharifi': 847,
  'shaharak-e-shariyati': 848,
  'shahed': 849,
  'shahid-amiri': 850,
  'shahid-asadi': 851,
  'shahid-avini': 852,
  'shahid-avini-mashhad': 853,
  'shahid-borujerdi': 854,
  'shahid-dastgheyb': 855,
  'shahid-honarvar': 856,
  'shahid-maqoul': 857,
  'shahid-navab-safavi': 858,
  'shahid-qorbani': 859,
  'shahid-rajaee': 860,
  'shahin': 861,
  'shahinvilla': 862,
  'shahishabad': 863,
  'shahr-e-ziba': 864,
  'shahrak-alborz': 865,
  'shahrak-ali-ebn-abitaleb': 866,
  'shahrak-bahonar': 867,
  'shahrak-daneshgah-tehran': 868,
  'shahrak-daneshgahi': 869,
  'shahrak-e-aboozar': 870,
  'shahrak-e-abuzar': 871,
  'shahrak-e-aghajari': 872,
  'shahrak-e-apadana': 873,
  'shahrak-e-azadi': 874,
  'shahrak-e-chahar-cheshmeh': 875,
  'shahrak-e-cheshmeh': 876,
  'shahrak-e-darya': 877,
  'shahrak-e-emamkhomeyni': 878,
  'shahrak-e-ferdows': 879,
  'shahrak-e-gharb': 880,
  'shahrak-e-ghazali': 881,
  'shahrak-e-haffari': 882,
  'shahrak-e-hashmenizhad': 883,
  'shahrak-e-jandarmeri': 884,
  'shahrak-e-kianshahr': 885,
  'shahrak-e-koohsar': 886,
  'shahrak-e-mahalati': 887,
  'shahrak-e-mokhaberat': 888,
  'shahrak-e-niru-ye-havayi': 889,
  'shahrak-e-omid': 890,
  'shahrak-e-parvaz': 891,
  'shahrak-e-shahid-navvab-e-safavi': 892,
  'shahrak-e-takhti': 893,
  'shahrak-e-taleghani': 894,
  'shahrak-e-vali-e-asr': 895,
  'shahrak-e-vilashahr': 896,
  'shahrak-elahiyeh': 897,
  'shahrak-erfan': 898,
  'shahrak-farhangian': 899,
  'shahrak-golha': 900,
  'shahrak-golha-shiraz': 901,
  'shahrak-imam-hossein': 902,
  'shahrak-imam-hossein-isfahan': 903,
  'shahrak-imam-reza': 904,
  'shahrak-isar': 905,
  'shahrak-kaveh': 906,
  'shahrak-kowsar': 907,
  'shahrak-mahdiabad': 908,
  'shahrak-mahdieh': 909,
  'shahrak-milad': 910,
  'shahrak-modares': 911,
  'shahrak-naft': 912,
  'shahrak-naft-district5': 913,
  'shahrak-nahal-va-bazr': 914,
  'shahrak-nirou-entezamie': 915,
  'shahrak-ostadan': 916,
  'shahrak-pasdaran': 917,
  'shahrak-shahid-bagheri': 918,

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 171996 entries, 10 to 767721
Data columns (total 23 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   cat2_slug           171996 non-null  float64
 1   cat3_slug           171996 non-null  float64
 2   city_slug           171996 non-null  float64
 3   neighborhood_slug   171996 non-null  float64
 4   user_type           171996 non-null  float64
 5   building_size       171996 non-null  float64
 6   floor               171996 non-null  float64
 7   rooms_count         171996 non-null  float64
 8   total_floors_count  171996 non-null  float64
 9   unit_per_floor      171996 non-null  float64
 10  has_balcony         171996 non-null  bool
 11  has_elevator        171996 non-null  bool
 12  has_warehouse       171996 non-null  bool
 13  has_parking         171996 non-null  bool
 14  is_rebuilt          171996 non-null  float64
 15  has_restroom        171996 non-null  float64
 16  building_direction  171996 non-null  float64
 17  has_pool            171996 non-null  bool
 18  has_jacuzzi         171996 non-null  bool
 19  has_sauna           171996 non-null  bool
 20  flag                171996 non-null  float64
 21  value               171996 non-null  float64
 22  age                 171996 non-null  float64
dtypes: bool(7), float64(16)
memory usage: 23.5 MB

In [55]:
df["neighborhood_encoded"] = df.groupby("neighborhood_slug")["value"].transform("mean")

In [56]:
df.drop(['neighborhood_slug'] , axis = 1 , inplace= True)

### handling Outliers

In [57]:
num_cols = ["building_size", "floor", "total_floors_count", "unit_per_floor", "value", "neighborhood_encoded"]

df_num = df[num_cols].copy()

In [58]:
for col in num_cols:
    Q1 = df_num[col].quantile(0.25)
    Q3 = df_num[col].quantile(0.75)
    IQR = Q3 - Q1
    lower = Q1 - 1.5 * IQR
    upper = Q3 + 1.5 * IQR
    df_num[col] = np.clip(df_num[col], lower, upper)

### Log transform

In [59]:
min_vals = df_num.min()
if (min_vals < 0).any():
    shift = abs(min_vals.min()) + 1  # shift so minimum = 1
    df_num = df_num + shift

In [60]:
df_num = np.log1p(df_num)

In [61]:
df_num = df_num.replace([np.inf, -np.inf], np.nan).fillna(0)

### Scaling

In [62]:
scaler = MinMaxScaler()
df[num_cols] = scaler.fit_transform(df_num)

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 171996 entries, 10 to 767721
Data columns (total 23 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   cat2_slug             171996 non-null  float64
 1   cat3_slug             171996 non-null  float64
 2   city_slug             171996 non-null  float64
 3   user_type             171996 non-null  float64
 4   building_size         171996 non-null  float64
 5   floor                 171996 non-null  float64
 6   rooms_count           171996 non-null  float64
 7   total_floors_count    171996 non-null  float64
 8   unit_per_floor        171996 non-null  float64
 9   has_balcony           171996 non-null  bool
 10  has_elevator          171996 non-null  bool
 11  has_warehouse         171996 non-null  bool
 12  has_parking           171996 non-null  bool
 13  is_rebuilt            171996 non-null  float64
 14  has_restroom          171996 non-null  float64
 15  building_direction    171996 non-null  float64
 16  has_pool              171996 non-null  bool
 17  has_jacuzzi           171996 non-null  bool
 18  has_sauna             171996 non-null  bool
 19  flag                  171996 non-null  float64
 20  value                 171996 non-null  float64
 21  age                   171996 non-null  float64
 22  neighborhood_encoded  171996 non-null  float64
dtypes: bool(7), float64(16)
memory usage: 23.5 MB

In [64]:
df.describe()

,cat2_slug,cat3_slug,city_slug,user_type,building_size,floor,rooms_count,total_floors_count,unit_per_floor,is_rebuilt,has_restroom,building_direction,flag,value,age,neighborhood_encoded
count,171996.000000,171996.000000,171996.000000,171996.000000,171996.000000,171996.000000,171996.000000,171996.000000,171996.000000,171996.000000,171996.000000,171996.000000,171996.000000,171996.000000,171996.000000,171996.000000
mean,0.442598,0.442598,198.119561,0.893724,0.804581,0.568497,2.007884,0.524347,0.283817,0.641050,1.609473,1.542577,0.999622,0.803285,10.705016,0.888906
std,0.496695,0.496695,71.506451,0.308191,0.098007,0.171961,0.722270,0.283866,0.267389,0.479694,0.536511,0.590737,0.746596,0.249112,7.337992,0.068403
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,0.000000,0.000000,128.000000,1.000000,0.732784,0.396265,2.000000,0.441249,0.000000,0.000000,1.000000,1.000000,0.000000,0.729531,4.000000,0.838100
50%,0.000000,0.000000,251.000000,1.000000,0.801893,0.523834,2.000000,0.441249,0.275170,1.000000,2.000000,2.000000,1.000000,0.888191,10.000000,0.868100
75%,1.000000,1.000000,256.000000,1.000000,0.874481,0.716192,2.000000,0.685569,0.500000,1.000000,2.000000,2.000000,2.000000,0.958239,16.000000,0.945716
max,1.000000,1.000000,275.000000,1.000000,1.000000,1.000000,5.000000,1.000000,1.000000,1.000000,2.000000,3.000000,2.000000,1.000000,34.000000,1.000000

In [65]:
df.to_csv('shahab_data.csv', index=False)